:root {
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

.html,
.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  justify-content: center;
  background-image: url("/images/6a22c367954e797a1b37063c81a150fa2c91ae559f2ca48447c3f2b7fb8fa06f085f12fed03b63266528f4bf8faa2cc32a50d9fac8f7ab26dd6e96_1280.jpg");
  background-size: cover; /* Assicura che l'immagine copra completamente l'header */
  background-position: center; /* Centra l'immagine di sfondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 75%;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20px;
  z-index: 1000;
  margin: 0 auto;
  border-radius: 50px;
}

.header .logo {
  margin-left: 1rem; /* Aggiunge margine a sinistra */
  flex-grow: 0;
}

.header .navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem; /* Aggiunge margine a destra */
}

.nav-button,
.hamburger-menu {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}

.DeFiLogoPhoto {
  width: 35%; /* O un'altra percentuale che funzioni per il tuo layout */
  margin-right: 20px; /* Distanza tra l'immagine e il bottone */
}
.App {
  display: flex;
  flex-direction: column; /* Orientamento verticale dei figli */
  align-items: center; /* Centra i figli orizzontalmente */
  height: 100vh; /* Altezza totale del viewport */
  width: 100%; /* Larghezza completa */
  padding: 60px 0; /* Aggiungi padding superiore e inferiore per evitare la sovrapposizione con l'header fisso */
  box-sizing: border-box; /* Assicura che il padding non influenzi le dimensioni totali */
}

.content {
  display: flex;
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
  gap: 20px; /* Distanza tra gli elementi */
  padding: 20px;
  width: 100%; /* Assicurati che il contenitore occupi l'intera larghezza */
  flex-direction: row; /* Elementi disposti in fila */
}

.tab-headers {
  display: flex;
  justify-content: center; /* Centra i bottoni dei tab orizzontalmente */
  flex-wrap: wrap; /* Permette ai bottoni di andare a capo se non c'è spazio */
  width: 100%; /* Imposta la larghezza al 75% del contenitore padre */
}

.tab-active {
  background-color: #007bff !important;
  color: white !important;
}

.tab-headers button {
  background-color: white;
  flex-grow: 1; /* Fa sì che i bottoni si espandano per occupare lo spazio disponibile */
  padding: 20px 40px; /* Aumenta il padding per ingrandire i bottoni */
  border-radius: 30px; /* Rende i bordi dei bottoni ovali */
  font-size: 1.5rem; /* Aumenta la dimensione del testo all'interno dei bottoni */
  color: #000000; /* Imposta il colore del testo a nero */
  font-weight: bold;
}

.tab-content {
  width: 100%; /* Imposta la larghezza al 75% del contenitore padre */
  display: flex;
  flex-direction: row; /* Corregge l'orientamento in orizzontale */
  justify-content: center; /* Centra i contenuti */
  align-items: stretch; /* Stira i contenitori per occupare tutta l'altezza disponibile */
  width: 100%; /* Occupa tutta la larghezza disponibile */
}

.tab-content div {
  flex-grow: 1; /* Fa sì che ogni div occupi una porzione equa dello spazio */
  margin: 5px; /* Aggiunge un po' di margine intorno a ogni div */
  padding: 10px; /* Aggiunge un po' di padding all'interno di ogni div */
  text-align: center; /* Centra il testo all'interno di ogni div */
}

.tab-element {
  display: flex;
  flex-direction: row; /* Corregge l'orientamento in orizzontale */
  justify-content: center; /* Centra i contenuti */
  align-items: stretch; /* Stira i contenitori per occupare tutta l'altezza disponibile */
}

.u-expanded-width {
  border-radius: 20px; /* Crea bordi arrotondati per l'effetto ovale */
  background-image: url("/images/Bronze.png");
  width: 20%;
}

.u-expanded-width2 {
  border-radius: 20px; /* Crea bordi arrotondati per l'effetto ovale */
  background-image: url("/images/Silver.png");
  width: 20%;
}

.u-expanded-width3 {
  border-radius: 20px; /* Crea bordi arrotondati per l'effetto ovale */
  background-image: url("/images/Gold.png");
  width: 20%;
}

.u-image {
  width: 20%;
}

/* Aggiunge una nuova classe per il testo "Tier" per ingrandire il font */
.tier-text {
  margin: 0; /* Rimuove il margine esterno */
  padding: 10px 0; /* Aggiunge un po' di spazio interno sopra e sotto il testo, ajusta secondo necessità */
  font-size: 24px;
  font-weight: bold;
  text-align: center; /* Centra il testo se desiderato */
}

/* Sovrascrive o aggiunge al CSS esistente per l'immagine */
.u-image.u-image-contain.u-image-default.u-image-49 {
  width: 120px; /* Aumenta la larghezza dell'immagine */
  height: auto; /* Mantiene il rapporto d'aspetto dell'immagine */
}
